aws_region                = "eu-west-1"
app_name                  = "tutorflow"
github_repo               = "https://github.com/TUES-2026-PBL-11-klas/AKA-TutorFlow"
github_token              = "ghp_xxx"
branch                    = "main"
supabase_url              = "https://xxx.supabase.co"
supabase_anon_key         = "eyJxxx"
supabase_service_role_key = "eyJxxx"
db_user                   = "postgres"
db_password               = "xxx"
gemini_api_key            = "AIzaSyxxx"
alert_email               = "you@example.com"
